{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_title %} <title>Login</title> {% endblock page_title %}

{% block extra_resources %} <link rel="stylesheet" href="{% static 'css/users.css' %}"> {% endblock extra_resources %}

{% block content %}
    <div class="container">
        <div class="form-container">
            <form action="" method="post">
                {% csrf_token %}
    
                <h2>Login</h2>
                
                {% render_field form.username placeholder="User Name" class+="form-control" %}
                {% render_field form.password placeholder="Password" class+="form-control"%}
    
                <button class="submit-button" type="submit">Login</button>
            </form>
        </div>
        <small class="register-text">
            Already have an Account? <a class="" href="{% url 'register' %}">Sign Up Now</a>
        </small>
    </div>
{% endblock content %}