{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_title %} <title>Login</title> {% endblock page_title %}

{% block extra_resources %} <link rel="stylesheet" href="{% static 'css/users.css' %}"> {% endblock extra_resources %}

{% block content %}
    <div class="container">
        <div class="profile_section">
            <img class="profile_image" src="{{ user.profile.profile_picture.url }}">
            <div class="profile_info">
                <h2 class="profile-name"><strong>Username:</strong> {{ user.username }}</h2>
                <p class="profile-contact"><strong>Email:</strong> {{ user.email }}</p>
                <p class="text-secondary"><strong>Bio:</strong> {% if user.profile.bio %} {{ user.profile.bio }} {% else %} no bio {% endif %}</p>
            </div>
        </div>
        <hr>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Profile Info</h2>

            <label for="">Username</label>
            {% render_field user_form.username placeholder="User Name" class+="form-control" %}<br>

            <label for="">Email</label>
            {% render_field user_form.email placeholder="Email Address" class+="form-control"%}

            <div>{% render_field profile_form.profile_picture placeholder="" class+="form-control" %}</div><br>
            <label for="">Bio</label>
            {% render_field profile_form.bio placeholder="Bio" class+="form-control"%}

            <button class="submit-button" type="submit">Update</button>
        </form>
    </div>
{% endblock content %}
