<!-- templates/projects/project_list.html -->
{% extends 'base.html' %}


{% block page_title %} <title>Project List</title> {% endblock page_title %}

{% block content %}
    <div class="container">
        <h1>Project List</h1>

        <table class="project-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Details</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for project, edit_permission in project_context %}
                    <tr>
                        <td>{{ project.name }}</td>
                        <td>{{ project.description }}</td>
                        <td>{{ project.start_date }}</td>
                        <td>{{ project.end_date }}</td>
                        <td><a href="{% url 'project_detail' project.pk %}">View</a></td>
                        {% if edit_permission %}
                            <td><a href="{% url 'project_update' project.pk %}" class="edit-btn">Edit</a></td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">No projects available.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'dashboard' %}">Back to Home</a>
        <!-- <a href="{% url 'dashboard' %}">Add Project</a> -->
    </div>
{% endblock content %}
