{% extends 'base.html' %}

{% block page_title %} <title>Edit Project</title> {% endblock page_title %}

{% block content %}
    <div class="container">
        <h1>Edit Project</h1>

        <form method="post">
            {% csrf_token %}
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="{{ project.name }}">
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea id="description" name="description">{{ project.description }}</textarea>
            </div>
            <div>
                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date" value="{{ project.start_date|date:'Y-m-d' }}" required>
            </div>
            <div>
                <label for="end_date">End Date:</label>
                <input type="date" id="end_date" name="end_date" value="{{ project.end_date|date:'Y-m-d' }}" required>
            </div>
            <button class="save-button" type="submit">Save</button>
        </form>

        <a href="{% url 'project_list' %}">Back to Project List</a>
    </div>
{% endblock content %}